<ion-content>
  <ion-card-content>
    <ion-card-header class="header-flex">
      <div>
        <ion-card-subtitle>{{ topic ? topic.type : "Read more" }}</ion-card-subtitle>
        <ion-card-title>{{ topic ? topic.title : "Click a card on the left." }}</ion-card-title>
      </div>
      <ion-icon name="close-circle" class="close-icon" (click)="closeModal()"></ion-icon>
    </ion-card-header>

    <ion-card-content class="card-content" *ngIf="topic">
      <div class="markdown" markdown ngPreserveWhitespaces [data]="topic.text"></div>
    </ion-card-content>
  </ion-card-content>
</ion-content>