<ion-content>
  <div class="container">
    <div class="header">
      <ion-text>
        <h3 class="subtitle">Self hosted</h3>
        <h1 class="title">App Analytics</h1>
        <p class="header-body">Gather analytics for your mobile apps, without sharing any of it with Big Brother.</p>
      </ion-text>

      <div class="framework-icon-container">
        <a href="https://github.com/JillevdW/JWAppAnalytics">
          <img class="framework-icon" src="assets/images/analytics/ios.svg">
        </a>

        <div class="divider"></div>

        <a href="https://github.com/JillevdW/JWAppAnalytics-js">
          <img class="framework-icon" src="assets/images/analytics/ionic.svg">
        </a>
        <a href="https://github.com/JillevdW/JWAppAnalytics-js">
          <img class="framework-icon" src="assets/images/analytics/react_native.svg">
        </a>
        <a href="https://github.com/JillevdW/JWAppAnalytics-js">
          <img class="framework-icon" src="assets/images/analytics/javascript.svg">
        </a>

        <div class="divider"></div>

        <a href="https://github.com/JillevdW/app-analytics">
          <img class="framework-icon" src="assets/images/analytics/laravel.svg">
        </a>
      </div>
    </div>

    <div class="section">
      <ion-img src="assets/images/analytics/mobile_user.svg"></ion-img>
      <div class="text-container">
        <h3>Understand your users</h3>
        <p>Without invading their privacy.</p>
      </div>
    </div>

    <div class="section reverse">
      <ion-img src="assets/images/analytics/mobile_application.svg"></ion-img>
      <div class="text-container">
        <h3>Platform agnostic</h3>
        <p>With an NPM package, a CocoaPod, and a Gradle plugin <sup>(coming soon)</sup> you can implement this package
          in every app you own.</p>
      </div>
    </div>

    <div class="section">
      <ion-img src="assets/images/analytics/swing.svg"></ion-img>
      <div class="text-container">
        <h3>Plug and play</h3>
        <p>Install the packages and you're ready to take your app to the next level.</p>
      </div>
    </div>

    <div class="section reverse">
      <ion-img src="assets/images/analytics/prediction.svg"></ion-img>
      <div class="text-container">
        <h3>Powerful expandable analytics</h3>
        <p>With an exposed API you can retrieve the data in any way you like.</p>
      </div>
    </div>

  </div>
</ion-content>