.flexbox {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.topic-list {
    width: 450px;
}

.topic-list-full {
    width: 100%;
}

.detail-card {
    flex: 1;
    height: 100%;
}
