<ion-content>
  <div class="container">
    <div class="header">
      <ion-text>
        <div class="avatar-container">
          <ion-avatar class="avatar">
            <img src="assets/images/accelerator/me_left.jpg">
          </ion-avatar>
        </div>
        <h1 class="title">Technical Accelerator</h1>
        <p class="header-body">Take your technical startup to the next level by inviting me over for a cup of coffee.
        </p>
      </ion-text>
    </div>

    <div class="section">
      <ion-img src="assets/images/accelerator/processes.svg"></ion-img>
      <div class="text-container">
        <h3>Guiding you through all things tech</h3>
        <p>With my experience in building projects from the ground up I can help you make the right decisions when
          building a tech-based startup.</p>
        <a>Read about my projects</a>
      </div>
    </div>

    <div class="section reverse">
      <ion-img src="assets/images/accelerator/checks.svg"></ion-img>
      <div class="text-container">
        <h3>I check all the boxes</h3>
        <p>My skillset covers everything you need when building your tech-based startup: from full stack web and mobile
          development to design and marketing. </p>
        <a>Read about what I can do</a>
      </div>
    </div>

    <div class="section">
      <ion-img src="assets/images/accelerator/workout.svg"></ion-img>
      <div class="text-container">
        <h3>I go the distance</h3>
        <p>Whether you have a concept or you've already started building your project and you need help making technical
          decisions: I'm in it to win it.</p>
      </div>
    </div>

    <div class="section reverse">
      <ion-img src="assets/images/accelerator/tree.svg"></ion-img>
      <div class="text-container">
        <h3>Talented network</h3>
        <p>Getting the right minds together is hard, and making sure they all do their part is even harder: luckily I
          have a great network of skilled developers ready to take on your project.</p>
      </div>
    </div>

  </div>
</ion-content>